@font-face {
  font-family: 'font';
  src: url('font.ttf') format('truetype');
}
* {
  font-family: 'font' !important;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-select-selection-search-input {
  border: none !important;
  box-shadow: none !important;
}